body {
	height: 1200px;
	width: 100%;
	background-color: grey;
}

#bg-img{
    background: url('../iPhone-bg.png');
    background-repeat: no-repeat;
    width: 75%;
    height: auto;
    background-size: contain;
}

.styled{
}

.push{
	padding-top: 30px;
}

h3 {
	color: white;
}

footer {
	display: fixed;
}
