body {
	height: 100%;
}

#bg-img{
    background: url('../iPhone-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
}

.styled{
	margin-top: 6%;
	margin-left: 38.75%;
	max-width: 22%;
}

.push{
	padding-top: 30px;
}

h3 {
	color: white;
}

footer {
	display: fixed;
}
