<div ng-controller="ContactCtrl">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<form role="form" class="form-inline">
					<div class="form-group">
						<label for="name1"></label>
						<input type="text" class="form-control" placeholder="First Name" ng-model="newContact.firstName"/>
					</div>
					<div class="form-group">
						<label for="name2"></label>
						<input type="text" class="form-control" placeholder="Last Name" ng-model="newContact.lastName"/>
					</div>
					<div class="form-group">
						<label for="number"></label>
						<input type="phone" class="form-control" placeholder="Phone Number" ng-model="newContact.phoneNumber"/>
					</div>
					<button type="submit" class="btn btn-primary" ng-click="addNewPerson()">+</button>
				</form>
			</div>
		</div>
	</div>