body {
  height: 1200px;
  width: 100%; }

#bg-img {
  background: url("../iPhone-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: auto; }

.styled {
  margin-top: 2%;
  margin-left: 41.20%;
  max-width: 17%; }

.push {
  padding-top: 30px; }

h3 {
  color: white; }

footer {
  display: fixed; }
