body {
  height: 1200px;
  width: 100%;
  background-color: grey; }

#bg-img {
  background: url("../iPhone-bg.png");
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
  margin-left: 450px; }

.styled {
  margin-top: 11%;
  margin-left: 4%;
  max-width: 28%; }

.push {
  padding-top: 30px; }

h3 {
  color: white; }

footer {
  display: fixed; }
